<!DOCTYPE html>
<html lang="en"> 
<head>
    <!-- Metadata about the document. -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Title of the webpage -->
    <title>Nada Dhyan - About Us</title>
    
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />

    
<!-- Push Test -->


</head>
<body id="page-top"> 
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container px-5">

            <!-- Brand name in the navigation bar -->
            <a class="NadaDhyan_Title" href="/">Nada Dhyan</a>
          
            <!-- Collapsible navbar content -->
            <div class="navbar-collapse">
                <ul class="navbar-nav ms-auto my-lg-0"> <!-- Navigation links -->
                    <li><a class="menu_bar nav-link me-lg-3" href="/about">About</a></li>
                    <li><a class="menu_bar nav-link me-lg-3" href="/user/Programs">Programs</a></li>
                    <li><a class="menu_bar nav-link me-lg-3" href="/user/calendar">Calendar</a></li>
                    <li><a class="menu_bar nav-link me-lg-3" href="/user/gallery">Gallery</a></li>
                    <li><a class="menu_bar nav-link me-lg-3" href="/user/blog">Blog</a></li>
                    <li><a class="menu_bar nav-link me-lg-3" href="/user/testimonials">Testimonials</a></li>
                    <li><a class="menu_bar nav-link me-lg-3" href="/user/contact_us">Contact Us</a></li>    
                </ul>

                <% if (user) { %>
                    <a type="button" class="btn btn-primary" href="/user/userinfo">
                        <span><%= user.username%></span>
                    </a>
                <% }  else {%>
                    <!-- Sign in button -->
                    <a type="button" class="btn btn-primary" href="/login">
                        <span>Sign in</span>
                    </a>
                <% }%>
            </div>
        </div>
    </nav>

    <section class="about-section">
        <div class="container">
            <div class="about_row">
                <div class="about_Left">
                    <h2>About Us</h2>
                    <h5 class="style-h5"><strong>The consistent practice connects us with our inner beauty.</strong></h5>

                    <p>Radha and Jay Jayaraman have pursued spirituality since the early 1980s amidst professional careers and raising a family. They continue their journey into their 80s, actively engaged in spiritual service. They have organized Yoga programs and retreats across cities like Ottawa, Toronto, Montreal, New York, New Jersey, and Chicago.</p>
                    <p>Inspired by <strong>Dr. Sri Ganapathi Sachchidhananda Swamiji and Sri Datta Vijayananda Teertha Swamiji</strong>, they are certified teachers of Datta Kriya Yoga <a href="https://www.dattakriyayoga.org" target="_blank">(https://www.dattakriyayoga.org)</a> and contribute to wellness and meditation through simple lifestyle practices. Since the early 1980s, they have also taught Siddha Samadhi Yoga under Guruji Sri Rishi Prabhakar, focusing on self-development, meditation, health, and emotional equanimity.</p>
                    <p>Both Radha and Jay are certified teachers, they contribute to the community by systematically incorporating a life-style of simple practices.
                    Their passion is to <i><strong>"Show that one can be fully involved in today’s lifestyle and also lead a wholesome life of Yoga practice."</strong></p></i></p>
                </div>
                <div class="about_Right">
                    <img src="img/about/about0.jpeg" alt="Image 1" class="image_control">
                    <img src="img/about/about2.jpg" alt="Image 2" class="image_control2">
                </div>
            </div>
            <h3 class="about_Left">Inspiration</h3>
                <div class="about_row">
                    <div class="about_Left2">
                        <img src="img/about/Inspiration_Sri Swamiji.jpg" alt="Image 3" class="image_control3">
                    </div>
                    <div class="about_Left">
                        <p>Nada Dhyana is from the inspiration of <strong>Dr. Sri Ganapathi Sachchidhananda Swamiji (fondly called Sri Swamiji) and Sri Datta Vijayananda Teertha Swamiji (fondly called as Sri Bala Swamiji) of Avadhoota Datta Peetham</strong>. Through Datta Kriya Yoga <a href="https://www.dattakriyayoga.or" target="_blank">(https://www.dattakriyayoga.org)</a> as certified teachers, they contribute to the community by systematically incorporating a life-style of simple practices.</p>


                        <p>Sri Swamiji has blended Vyayamas – flow movements with breath, Pranayama, Mudras, Meditation & Nada Chikitsha – healing with Music. 
                        Datta Kriya Yoga is an ancient yogic tradition of India prescribed by Sri Swamiji to silence the mind and attain a state of being able to attain a state of equanimity.</p>
                        
                        
                        <p>With every thought or movement, the breath pattern changes. Without this change in breath, the action cannot be fulfilled. By developing the ability to control the breath, by practice of Pranayama – where we regulate the flow of breath, we open our self-healing power from within at the level of body and mind.</p>
                    </div>
                </div>
              <br><br><br>
             <div class="about_row">
                <div class="about_Left">
                    <p><strong>Datta Kriya Yoga</strong> combines Vyayamas – gentle flow yogic moves with breath, and healing power of music. This results in a natural state of meditation taking oneself beyond states of pain and stresses of mind.</p>
                    <p><strong>Sri Swamiji</strong> is a pioneer in healing music. His personal research of more than 50 years and experiments with music's therapeutic powers led to the conviction that the healing powers of music should be available to everyone.</p>
                </div>
                <div class="about_Right">
                    <img src="img/about/Inspiration_Bala  Swamiji.jpg" alt="Image 4" class="image_control4">
                </div>
            </div>   

            <h3 class="about_Left">About SSY</h3>
            <div class="about_row">
                <div class="about_Left2">
                    <img src="img/about/ssy_Guruji.jpg" alt="Image 5" class="image_control5">
                </div>
                <div class="about_Left">
                    <p><strong class="style-h5">Siddha Samadhi Yoga is the flagship program of the institution Rishi Samskruti Vidya Kendra </strong> (known as RSVK & also Life Yessence Academy known as LiYA) created by <strong>Guruji Rishi Prabhakar.</strong></p>
                    <p><strong>Siddha Samadhi Yoga</strong> is the main program of the organization and being the Flagship Program has become synonymous with the name of the organization. Siddha is Knowledge that is proven and has been consistently accomplished. Samadhi Stands for Equanimous State of Intellect SSY adds inspiration/empowerment.</p>
                    <p>- Physical Management, with the Science of Breath and Understanding the requirement for our body in terms of food from nature.<br>
                    - Mental Management through Samadhi Meditation.<br>
                    - Create Family Relationship social and Professional Management with Emotional Balance<br>
                    - Spiritual Management, The awakening of the Spiritual strength from within.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Section-divider -->
    <section class="section-divider2"></section>
  
    <!-- Footer -->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div>
                <div>&copy; Copyright (c) 2011-2024 The Bootstrap Authors.</div> 
                <a href="#page-top">Go to top</a>
            </div>
        </div>
    </footer>

    <!-- JS-->
</body>
</html>
