<!DOCTYPE html>
<html lang="en"> 
<head>
    <!-- Metadata about the document -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Title of the webpage -->
    <title>Nada Dhyan - Blog Detail</title>
    
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/blog.css" rel="stylesheet"/>

</head>
<body id="page-top"> 
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container px-5">
            <!-- Brand name in the navigation bar -->
            <a class="NadaDhyan_Title" href="/">Nada Dhyan</a>
            <!-- Collapsible navbar content -->
            <div class="navbar-collapse">
                <ul class="navbar-nav ms-auto my-lg-0"> <!-- Navigation links -->
			<li><a class="menu_bar nav-link me-lg-3" href="/about">About</a></li>
			<li><a class="menu_bar nav-link me-lg-3" href="/user/Programs">Programs</a></li>
			<li><a class="menu_bar nav-link me-lg-3" href="/user/calendar">Calendar</a></li>
			<li><a class="menu_bar nav-link me-lg-3" href="/user/gallery">Gallery</a></li>
			<li><a class="menu_bar nav-link me-lg-3" href="/user/blog">Blog</a></li>
			<li><a class="menu_bar nav-link me-lg-3" href="/user/testimonials">Testimonials</a></li>
			<li><a class="menu_bar nav-link me-lg-3" href="/user/contact_us">Contact Us</a></li>    
		    </ul>
                <% if (user) { %>
                    <a type="button" class="btn btn-primary" href="/user/userinfo">
                        <span><%= user.username %></span>
                    </a>
                <% } else { %>
                    <!-- Sign in button -->
                    <a type="button" class="btn btn-primary" href="/login">
                        <span>Sign in</span>
                    </a>
                <% } %>
            </div>
        </div>
    </nav>

    <!-- Blog Detail Section -->
    <section class="bg-light">
        <div class="container px-5">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="Heading2"><%= blog.subject %></h2>
                    <p><%= blog.text %></p>
                    <p><small>Posted on <%= blog.date.toDateString() %></small></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section-divider -->
    <section class="section-divider2"></section>
    
    <!-- Footer -->
    <footer class="bg-black text-center py-5 blog_detail_footer">
        <div class="container px-5">
            <div>
                <div>&copy; Copyright (c) 2011-2024 The Bootstrap Authors.</div> 
                <a href="#page-top">Go to top</a>
            </div>
        </div>
    </footer>
</body>
</html>
